.main-title {
    max-width:920px;
    display: flex;
    align-items: center;
  .bar {
      width: 12px;
      height: 130px;;
      border-radius:99px;
      background-color: #2341EB;
      margin-right:20px;
  }
}
.content-element {
    margin-top: 4rem;
}

.username {
    border-radius:15px;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    box-shadow: 0px 16px 40px rgba(112, 116, 176, 0.2);
    width: 400px;
    height: 55px;
    border: solid 1px #d9d9ff;
}

.input-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-start{
    background: #2341EB;
    color: #fff;
    border-radius: 15px;
    margin-left:1rem;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    cursor: pointer;
    box-shadow: 0px 16px 40px rgba(91, 96, 168, 0.2);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.button-start:hover {
    transform: scale(1.1);
}

.home {
    z-index: 1;
}

.error {
    color: #eb2355;
    font-size: 1rem;
    font-weight: 600;
}
