.results {
    z-index: 10;
}
.player-pos {
    display: flex;
}
.player-rank {
    display:flex;
    justify-content: space-between;
    font-family: 'Readex Pro', sans-serif;
}
.player-rank-name {
    font-family: 'Readex Pro', sans-serif;
}

.position-title, .player-name-title, .score-title {
    font-family: 'Dela Gothic One', sans-serif;
    font-size:0.7rem;
}
